.menu {
  position: absolute;
  top: $nav-height;
  bottom: 0;
  left: 0;
  width: 20%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  > div {
    color: white;
    font-size: 14px;
    padding: 10px;
    background-color: rgba(60, 60, 60, 0.6);
    display: flex;
    align-items: center;
    height: 100%;
    border: 1px solid black;
  }
}