text {
  font-size: 9px;
  pointer-events: none;
  // text-shadow: 1px 1px #fff;
}

text.parent {
  font-size: 16px;
  fill: #404040;
}

circle {
  fill: #ffffff;
  fill-opacity: .8;
  pointer-events: all;
  cursor: pointer;
  // stroke: #999;
}

circle.parent {
  fill: #C0C0C0;
  fill-opacity: .2;
}

circle.parent:hover {
  fill-opacity: .4;
  // stroke: #73adde;
  // stroke-width: .5px;
}

circle.child {
  pointer-events: none;
}