text {
  font-size: 9px;
  font-weight: 600;
  pointer-events: none;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px #fff;
}

text.parent {
  font-size: 16px;
  fill: #1f77b4;
}

circle {
  fill: #ffffff;
  /*stroke: #999;*/
  pointer-events: all;
  cursor: pointer;
}

circle.parent {
  fill: rgba(70, 129, 179, 0.5);
  fill-opacity: .1;
  /*stroke: steelblue;*/
}

circle.parent:hover {
  stroke: #73adde;
  stroke-width: .5px;
}

circle.child {
  pointer-events: none;
}