.dashboard {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.dashboard-calendar {
  width: 80%;
  padding: 10px;
  border: 1px solid $silver;
  border-radius: 3px;
}

.calendar-header {
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px;
}

.calendar-title {
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
}

.calendar-settings {
  position: absolute;
  top: 0;
  right: 0;
}

.calendar {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // display: block;
  // margin: auto;
}

.calendar-svg {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // display: block;
  // margin: auto;
  box-sizing: initial;
}

text.month-name,
text.calendar-heatmap-legend-text,
text.day-initial {
  font-size: 10px;
  fill: #aaaaaa;
  // font-family: Helvetica, arial, 'Open Sans', sans-serif
}

.day-cell {
  // fill: #fff;
  fill-opacity: .9;
  pointer-events: all;
  cursor: pointer;
  // stroke: 1px solid $haze;
}

rect.day-cell:hover {
  fill-opacity: 1.0;
}

.day-cell-tooltip {
  position: absolute;
  z-index: 9999;
  padding: 5px 9px;
  color: #bbbbbb;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 3px;
  text-align: center;
}

.glyphicon.glyphicon-triangle-bottom {
    margin-left: 4px;
    font-size: 10px;
}