.dashboard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.dashboard-element { // main dashboard section
  padding: 20px;
}

.dashboard-header {
  position: relative;
  display: flex;
  align-items: center;
  height: 20px;
}

.header-title {
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
}

.header-subtitle {
  position: absolute;
  top: 0;
  right: 0;
}