$major: 'Cinzel';
$minor: 'Raleway';
$haze: #eeeeee;

@import 'nav';

* {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
  &:link {
    text-decoration: none;
    color: black;
  }
  &:visited {
    text-decoration: none;
    color: black;
  }
  &:hover {
    text-decoration: none;
    color: black;
  }
  &:active {
    text-decoration: none;
    color: black;
  }
}

ul {
  list-style-type: none;
}

.transparent {
  opacity: 0.9;
}

.haze-background {
  background-color: $haze !important;
}

.btn {
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:hover {
    background: #000;
    color: #fff;
}

.timeline {
  height: 50px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0;
}

.timeline-date {
  display: inline-block;
  width: calc(100% / 7);
  text-align: center;
}

.which-date {
  width: 40px;
  border: 1px solid;
  position: absolute;
  left: 5%;
}