.custom-header {
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
}

.page-container {
  margin-top: 50px;
}

.nav-active {
  box-shadow: 0 2px 0 0 #00bfff;
}

.navbar-format {
  width: 40%;
}

.navbar-links {
  width: 50%;
  text-align: center;
}

.margin-right {
  margin-right: 15px;
}

.profile-list {
  list-style-type: none;
}

.ul-profile {
  margin-left: -30px; 
}

.timeline {
  width: auto;
  height: 50px;
  border: 13px solid #bed5cd;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.timeline-date {
  display: inline-block;
}