$major: 'Cinzel';
$minor: 'Raleway';
$haze: #ECECEC;
$porcelain: #ECF0F1;
$darkLynch: #30363D;
$midLynch: #56626E;
$lightLynch: #A5BAD1;
$silver: #BDC3C7;
$lynch: #6C7A89;
$azure: azure;

@import 'navigation/nav';
@import 'navigation/menu';
@import 'user/profile';
@import 'journal/journal';
@import 'journal/timeline';
@import 'journal/page';
@import 'dashboard/dashboard';
@import 'dashboard/calendar';
@import 'dashboard/scatterchart';
@import 'dashboard/circles';
@import 'dashboard/activityfeed/activityfeed';
@import 'dashboard/activityfeed/interaction';

* {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: $lynch;
}

body {
}

a {
  text-decoration: none;
  color: black;
  &:link {
    text-decoration: none;
    color: black;
  }
  &:visited {
    text-decoration: none;
    color: black;
  }
  &:hover {
    text-decoration: none;
    color: black;
  }
  &:active {
    text-decoration: none;
    color: black;
  }
}

ul {
  list-style-type: none;
}

.transparent {
  opacity: 0.9;
}

.white-background {
  background-color: #FFFFFF !important;
}

.haze-background {
  background-color: $haze !important;
}

.btn {
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
}

// .timeline {
//   height: 50px;
//   overflow-x: scroll;
//   overflow-y: hidden;
//   white-space: nowrap;
//   padding: 0;
//   margin-top: 10px;
// }

// .timeline-date {
//   display: inline-block;
//   width: calc(100% / 7);
//   text-align: center;
// }

// .which-date {
//   width: 40px;
//   border: 1px solid;
//   position: absolute;
//   left: 5%;
// }

// .journal-content {
//   margin-top: 20px;
// }

// .journal-section {
//   padding: 20px;
// }

// .journal-content {
//   background: transparent;
//   -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
//   -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
//   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
// }

.login-modal {
  z-index: 100000001;
}

.fade {
  z-index: 100000000;
}

.login-modal-title {
  font-size: 20px;
}
.facebook-login-button {
  color: #3B5998;
  border-color: #3B5998;
  background-color: rgba(59,89,152, .04);
  display: block;
  width: 300px;
  margin: 0 auto;
  &:hover {
    background-color: #3B5998;
  }
}

.amazon-login-button {
  color: #232F3E;
  border-color: #232F3E;
  background-color: rgba(35,47,62, .04);
  display: block;
  width: 300px;
  margin: 10px auto 0 auto;
  &:hover {
    background-color: #3B5998;
  }
}

a.login-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;

    color: #3B5998;
    border-color: #3B5998;
    display: flex;
    width: 300px;
    height: 50px;
    &:hover {
      background-color: #3B5998;
      border-color: #3B5998 !important;
    }
}

.modal-dialog {
  width: 440px;
  margin-top: 10%;
}

.home-main-image {
  box-shadow: inset 0 0 10em 20em rgba(255,255,255,.1);
}

.home-top-content-container {
  background-color: lightgray;
}

div.home-jumbotron.jumbotron {
  padding-top: 48px;
  padding-bottom: 48px;
  &:nth-child(odd) {
    background-color: $midLynch
  }
}

.home-banner {
  height: 100vh;
  min-height: 500px;
  background-image: url("../../images/home/homepage1.jpg");
  background-size: cover;
  background-position: center;
}

.home-login-button {
  float: right !important;
  margin-top: 10px;
  margin-right: 10px;
}

.home-title {
  margin-top: 0;
  margin-bottom: 5px;
  padding-top: 40px;
  text-align: center;
  color: $darkLynch;
  font-size: 70px;
  font-family: $major, serif;
  letter-spacing: 1.5px !important;
}

.home-slogan {
  margin-bottom: 40px;
  font-size: 25px;
  font-family: $minor, serif;
  color: $midLynch;
  text-align: center;
}

.home-signup-form {
  max-width: 350px;
  margin: 0 auto;
  padding: 10px 25px;
  border-radius: 10px;
  box-shadow: inset 0 0 10em 5em rgba(0,0,0,.2);
}

.home-section-title {
  font-family: $minor, serif;
  color: $porcelain;
  margin-bottom: 17px;
}

.jumbo-banner {
  background-color: transparent !important;
}

.home-jumbotron {
  margin: 1px 0 !important;
  color: $silver;
}

.jumbo-right-text {
  text-align: right;
  margin-right: 8.33333333%;
}

.jumbo-left-text {
  display: block !important;
  margin-top: 0;
  height: 150px;
}

.jumbo-first {
  margin-top: -20px !important;
}

.remember-me-checkbox {
  color: $silver;
}
