.activity-feed {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  width: 100%;
}

.streak {
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}

.basic-interaction {
  width: 80%;
  background-color: $midLynch;
  padding: 5px;
  border-radius: $border-radius;
  > div {
    font-size: 14px;
  }
}

.interaction-type {
  width: 20%;
  text-align: left;
}

.interaction-summary {
  width: 60%;
  text-align: center;
}

.interaction-date {
  width: 20%;
  text-align: right;
}