.dashboard-calendar {
  width: 80%;
}

.calendar {
}

.calendar-svg {
  box-sizing: initial;
}

text {
  &.month-name,
  &.calendar-heatmap-legend-text,
  &.day-initial {
    font-size: 10px;
    fill: #aaaaaa;
  }
}

.day-cell {
  fill-opacity: .7;
  pointer-events: all;
  cursor: pointer;
  &:hover {
    fill-opacity: 1.0;
  }
}

.glyphicon.glyphicon-triangle-bottom {
  margin-left: 4px;
  font-size: 10px;
}

.calendar-tooltip {
  position: absolute;     
  text-align: left;     
  padding: 10px;
  background: #222;
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
  z-index: 9999999;
  * {
    font-size: 12px;
    color: white;
  }
  .tooltip-title {
    font-size: 16px;
    font-family: $major;
    margin-bottom: 3%;
  }
  .tooltip-subtitle {
    font-weight: 400;
    margin-bottom: 4%;
  }
  .tooltip-list-item {
  }
  .tooltip-error {
    color: $lynch;
  }
  .tooltip-category.things {
    float: left;
    width: 50%;
  }
  .tooltip-category.feelings {
    float: right;
    width: 50%;
  }
}